[flake8]
max-line-length = 88
max-complexity = 10
ignore = 
    # Allow line breaks before binary operators (W503 vs W504)
    W503
exclude = 
    .git,
    __pycache__,
    .venv,
    .aws-sam,
    build,
    dist